body {
  --body-color: #fafafa;
  --header-color: white;
  background-color: var(--body-color);
}
body::-webkit-scrollbar {
  display: none;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app__main {
  user-select: none;
  overflow-y: scroll;
  width: 100%;
  flex: 1;
}
